In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv(r'C:\Users\admin\Downloads\churn_modelling.csv')

In [3]:
df.head(10)

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
5,6,15574012,Chu,645,Spain,Male,44,8,113755.78,2,1,0,149756.71,1
6,7,15592531,Bartlett,822,France,Male,50,7,0.00,2,1,1,10062.80,0
7,8,15656148,Obinna,376,Germany,Female,29,4,115046.74,4,1,0,119346.88,1
8,9,15792365,He,501,France,Male,44,4,142051.07,2,0,1,74940.50,0
9,10,15592389,H?,684,France,Male,27,2,134603.88,1,1,1,71725.73,0

In [4]:
df.shape

(10000, 14)

In [5]:
X = df.iloc[:,3:13]
Y = df.iloc[:,13:14]

In [6]:
X.dtypes

CreditScore          int64
Geography           object
Gender              object
Age                  int64
Tenure               int64
Balance            float64
NumOfProducts        int64
HasCrCard            int64
IsActiveMember       int64
EstimatedSalary    float64
dtype: object

In [7]:
geography = pd.get_dummies(X['Geography'],drop_first=True)
gender = pd.get_dummies(X['Gender'],drop_first=True)

In [8]:
X = pd.concat([X,geography,gender],axis=1)

In [9]:
X = X.drop(['Geography','Gender'],axis=1)

In [10]:
X.head()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Germany,Spain,Male
0,619,42,2,0.00,1,1,1,101348.88,0,0,0
1,608,41,1,83807.86,1,0,1,112542.58,0,1,0
2,502,42,8,159660.80,3,1,0,113931.57,0,0,0
3,699,39,1,0.00,2,0,0,93826.63,0,0,0
4,850,43,2,125510.82,1,1,1,79084.10,0,1,0

In [11]:
df['Geography'].nunique()

3

In [12]:
from sklearn.preprocessing import StandardScaler

In [13]:
columns = X.columns
columns = columns[0:-3]
columns

Index(['CreditScore', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard',
       'IsActiveMember', 'EstimatedSalary'],
      dtype='object')

In [14]:
ss = StandardScaler()
for column in columns:
    x = X[column]
    y = ss.fit_transform(x.values.reshape(-1,1))
    X[column] = y

In [15]:
X['CreditScore'].mean()

-4.870326364425637e-16

In [16]:
X['CreditScore'].std()

1.0000500037503133

In [17]:
from sklearn.model_selection import train_test_split

In [18]:
X_train,X_test,y_train,y_test = train_test_split(X,Y,test_size=0.2,random_state=1)

In [19]:
import keras
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import LeakyReLU,PReLU,ELU
from keras.layers import Dropout

In [20]:
classifier = Sequential()

In [21]:
X.shape

(10000, 11)

In [30]:
classifier.add(Dense(units=6,activation='relu'))
classifier.add(Dense(units=6,activation='relu'))
classifier.add(Dense(units=1,activation='sigmoid'))

In [33]:
classifier.compile(optimizer="adam",loss="binary_crossentropy",metrics=['accuracy'])

In [34]:
classifier.fit(X_train,y_train,batch_size=10,epochs=100)

Epoch 1/100
WARNING:tensorflow:Layer dense is casting an input tensor from dtype float64 to the layer's dtype of float32, which is new behavior in TensorFlow 2.  The layer has dtype float32 because its dtype defaults to floatx.

If you intended to run this layer in float32, you can safely ignore this warning. If in doubt, this warning is likely only an issue if you are porting a TensorFlow 1.X model to TensorFlow 2.

To change all layers to have dtype float64 by default, call `tf.keras.backend.set_floatx('float64')`. To change just this layer, pass dtype='float64' to the layer constructor. If you are the author of this layer, you can disable autocasting by passing autocast=False to the base Layer constructor.

800/800 [==============================] - 0s 402us/step - loss: 0.5112 - accuracy: 0.7753
Epoch 2/100
800/800 [==============================] - 0s 398us/step - loss: 0.4265 - accuracy: 0.8070
Epoch 3/100
800/800 [==============================] - 0s 391us/step - loss: 0.3907 - accuracy: 0.8356
Epoch 4/100
800/800 [==============================] - 0s 405us/step - loss: 0.3705 - accuracy: 0.8462
Epoch 5/100
800/800 [==============================] - 0s 411us/step - loss: 0.3629 - accuracy: 0.8489
Epoch 6/100
800/800 [==============================] - 0s 396us/step - loss: 0.3582 - accuracy: 0.8506
Epoch 7/100
800/800 [==============================] - 0s 395us/step - loss: 0.3562 - accuracy: 0.8505
Epoch 8/100
800/800 [==============================] - 0s 410us/step - loss: 0.3542 - accuracy: 0.8514
Epoch 9/100
800/800 [==============================] - 0s 391us/step - loss: 0.3530 - accuracy: 0.8529
Epoch 10/100
800/800 [==============================] - 0s 400us/step - loss: 0.3509 - accuracy: 0.8530
Epoch 11/100
800/800 [==============================] - 0s 399us/step - loss: 0.3496 - accuracy: 0.8530
Epoch 12/100
800/800 [==============================] - 0s 394us/step - loss: 0.3482 - accuracy: 0.8550
Epoch 13/100
800/800 [==============================] - 0s 394us/step - loss: 0.3465 - accuracy: 0.8579
Epoch 14/100
800/800 [==============================] - 0s 391us/step - loss: 0.3447 - accuracy: 0.8568
Epoch 15/100
800/800 [==============================] - 0s 390us/step - loss: 0.3434 - accuracy: 0.8564
Epoch 16/100
800/800 [==============================] - 0s 414us/step - loss: 0.3419 - accuracy: 0.8585
Epoch 17/100
800/800 [==============================] - 0s 405us/step - loss: 0.3406 - accuracy: 0.8593
Epoch 18/100
800/800 [==============================] - 0s 396us/step - loss: 0.3402 - accuracy: 0.8606
Epoch 19/100
800/800 [==============================] - 0s 414us/step - loss: 0.3393 - accuracy: 0.8618
Epoch 20/100
800/800 [==============================] - 0s 399us/step - loss: 0.3387 - accuracy: 0.8620
Epoch 21/100
800/800 [==============================] - 0s 396us/step - loss: 0.3378 - accuracy: 0.8615
Epoch 22/100
800/800 [==============================] - 0s 393us/step - loss: 0.3383 - accuracy: 0.8620
Epoch 23/100
800/800 [==============================] - 0s 396us/step - loss: 0.3370 - accuracy: 0.8626
Epoch 24/100
800/800 [==============================] - 0s 389us/step - loss: 0.3373 - accuracy: 0.8621
Epoch 25/100
800/800 [==============================] - 0s 388us/step - loss: 0.3373 - accuracy: 0.8610
Epoch 26/100
800/800 [==============================] - 0s 385us/step - loss: 0.3369 - accuracy: 0.8620
Epoch 27/100
800/800 [==============================] - 0s 386us/step - loss: 0.3365 - accuracy: 0.8611
Epoch 28/100
800/800 [==============================] - 0s 386us/step - loss: 0.3365 - accuracy: 0.8611
Epoch 29/100
800/800 [==============================] - 0s 385us/step - loss: 0.3365 - accuracy: 0.8614
Epoch 30/100
800/800 [==============================] - 0s 389us/step - loss: 0.3353 - accuracy: 0.8629
Epoch 31/100
800/800 [==============================] - 0s 384us/step - loss: 0.3358 - accuracy: 0.8615
Epoch 32/100
800/800 [==============================] - 0s 410us/step - loss: 0.3358 - accuracy: 0.8631
Epoch 33/100
800/800 [==============================] - 0s 391us/step - loss: 0.3355 - accuracy: 0.8619
Epoch 34/100
800/800 [==============================] - 0s 386us/step - loss: 0.3350 - accuracy: 0.8625
Epoch 35/100
800/800 [==============================] - 0s 388us/step - loss: 0.3347 - accuracy: 0.8604
Epoch 36/100
800/800 [==============================] - 0s 410us/step - loss: 0.3345 - accuracy: 0.8620
Epoch 37/100
800/800 [==============================] - 0s 409us/step - loss: 0.3347 - accuracy: 0.8621
Epoch 38/100
800/800 [==============================] - 0s 401us/step - loss: 0.3339 - accuracy: 0.8626
Epoch 39/100
800/800 [==============================] - 0s 391us/step - loss: 0.3346 - accuracy: 0.8634
Epoch 40/100
800/800 [==============================] - 0s 390us/step - loss: 0.3335 - accuracy: 0.8612
Epoch 41/100
800/800 [==============================] - 0s 393us/step - loss: 0.3341 - accuracy: 0.8609
Epoch 42/100
800/800 [==============================] - 0s 391us/step - loss: 0.3328 - accuracy: 0.8630
Epoch 43/100
800/800 [==============================] - 0s 389us/step - loss: 0.3334 - accuracy: 0.8621
Epoch 44/100
800/800 [==============================] - 0s 393us/step - loss: 0.3328 - accuracy: 0.8627
Epoch 45/100
800/800 [==============================] - 0s 393us/step - loss: 0.3332 - accuracy: 0.8594
Epoch 46/100
800/800 [==============================] - 0s 388us/step - loss: 0.3330 - accuracy: 0.8630
Epoch 47/100
800/800 [==============================] - 0s 386us/step - loss: 0.3334 - accuracy: 0.8621
Epoch 48/100
800/800 [==============================] - 0s 394us/step - loss: 0.3331 - accuracy: 0.8626
Epoch 49/100
800/800 [==============================] - 0s 404us/step - loss: 0.3332 - accuracy: 0.8614
Epoch 50/100
800/800 [==============================] - 0s 391us/step - loss: 0.3326 - accuracy: 0.8631
Epoch 51/100
800/800 [==============================] - 0s 391us/step - loss: 0.3318 - accuracy: 0.8629
Epoch 52/100
800/800 [==============================] - 0s 389us/step - loss: 0.3319 - accuracy: 0.8631
Epoch 53/100
800/800 [==============================] - 0s 395us/step - loss: 0.3317 - accuracy: 0.8605
Epoch 54/100
800/800 [==============================] - 0s 393us/step - loss: 0.3324 - accuracy: 0.8627
Epoch 55/100
800/800 [==============================] - 0s 391us/step - loss: 0.3320 - accuracy: 0.8618
Epoch 56/100
800/800 [==============================] - 0s 394us/step - loss: 0.3315 - accuracy: 0.8626
Epoch 57/100
800/800 [==============================] - 0s 403us/step - loss: 0.3316 - accuracy: 0.8622
Epoch 58/100
800/800 [==============================] - 0s 390us/step - loss: 0.3317 - accuracy: 0.8610
Epoch 59/100
800/800 [==============================] - 0s 391us/step - loss: 0.3317 - accuracy: 0.8637
Epoch 60/100
800/800 [==============================] - 0s 389us/step - loss: 0.3322 - accuracy: 0.8633
Epoch 61/100
800/800 [==============================] - 0s 390us/step - loss: 0.3307 - accuracy: 0.8619
Epoch 62/100
800/800 [==============================] - 0s 391us/step - loss: 0.3310 - accuracy: 0.8636
Epoch 63/100
800/800 [==============================] - 0s 388us/step - loss: 0.3316 - accuracy: 0.8622
Epoch 64/100
800/800 [==============================] - 0s 395us/step - loss: 0.3306 - accuracy: 0.8636
Epoch 65/100
800/800 [==============================] - 0s 420us/step - loss: 0.3306 - accuracy: 0.8629
Epoch 66/100
800/800 [==============================] - 0s 391us/step - loss: 0.3306 - accuracy: 0.8644
Epoch 67/100
800/800 [==============================] - 0s 391us/step - loss: 0.3310 - accuracy: 0.8616
Epoch 68/100
800/800 [==============================] - 0s 388us/step - loss: 0.3305 - accuracy: 0.8624
Epoch 69/100
800/800 [==============================] - 0s 396us/step - loss: 0.3306 - accuracy: 0.8620
Epoch 70/100
800/800 [==============================] - 0s 400us/step - loss: 0.3306 - accuracy: 0.8649
Epoch 71/100
800/800 [==============================] - 0s 404us/step - loss: 0.3304 - accuracy: 0.8639
Epoch 72/100
800/800 [==============================] - 0s 400us/step - loss: 0.3305 - accuracy: 0.8641
Epoch 73/100

800/800 [==============================] - 0s 400us/step - loss: 0.3297 - accuracy: 0.8645
Epoch 74/100
800/800 [==============================] - 0s 400us/step - loss: 0.3298 - accuracy: 0.8640
Epoch 75/100
800/800 [==============================] - 0s 401us/step - loss: 0.3295 - accuracy: 0.8634
Epoch 76/100
800/800 [==============================] - 0s 398us/step - loss: 0.3292 - accuracy: 0.8641
Epoch 77/100
800/800 [==============================] - 0s 404us/step - loss: 0.3301 - accuracy: 0.8622
Epoch 78/100
800/800 [==============================] - 0s 400us/step - loss: 0.3297 - accuracy: 0.8624
Epoch 79/100
800/800 [==============================] - 0s 399us/step - loss: 0.3295 - accuracy: 0.8619
Epoch 80/100
800/800 [==============================] - 0s 403us/step - loss: 0.3297 - accuracy: 0.8630
Epoch 81/100
800/800 [==============================] - 0s 424us/step - loss: 0.3297 - accuracy: 0.8652
Epoch 82/100
800/800 [==============================] - 0s 404us/step - loss: 0.3293 - accuracy: 0.8645
Epoch 83/100
800/800 [==============================] - 0s 403us/step - loss: 0.3292 - accuracy: 0.8625
Epoch 84/100
800/800 [==============================] - 0s 401us/step - loss: 0.3301 - accuracy: 0.8629
Epoch 85/100
800/800 [==============================] - 0s 403us/step - loss: 0.3287 - accuracy: 0.8637
Epoch 86/100
800/800 [==============================] - 0s 423us/step - loss: 0.3299 - accuracy: 0.8621
Epoch 87/100
800/800 [==============================] - 0s 420us/step - loss: 0.3293 - accuracy: 0.8640
Epoch 88/100
800/800 [==============================] - 0s 398us/step - loss: 0.3301 - accuracy: 0.8641
Epoch 89/100
800/800 [==============================] - 0s 401us/step - loss: 0.3289 - accuracy: 0.8631
Epoch 90/100
800/800 [==============================] - 0s 396us/step - loss: 0.3290 - accuracy: 0.8636
Epoch 91/100
800/800 [==============================] - 0s 404us/step - loss: 0.3289 - accuracy: 0.8635
Epoch 92/100
800/800 [==============================] - 0s 415us/step - loss: 0.3290 - accuracy: 0.8630
Epoch 93/100
800/800 [==============================] - 0s 403us/step - loss: 0.3292 - accuracy: 0.8636
Epoch 94/100
800/800 [==============================] - 0s 396us/step - loss: 0.3293 - accuracy: 0.8636
Epoch 95/100
800/800 [==============================] - 0s 406us/step - loss: 0.3291 - accuracy: 0.8634
Epoch 96/100
800/800 [==============================] - 0s 401us/step - loss: 0.3287 - accuracy: 0.8627
Epoch 97/100
800/800 [==============================] - 0s 428us/step - loss: 0.3289 - accuracy: 0.8625
Epoch 98/100
800/800 [==============================] - 0s 409us/step - loss: 0.3288 - accuracy: 0.8641
Epoch 99/100
800/800 [==============================] - 0s 404us/step - loss: 0.3296 - accuracy: 0.8635
Epoch 100/100
800/800 [==============================] - 0s 400us/step - loss: 0.3288 - accuracy: 0.8649

In [35]:
classifier.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (10, 6)                   72
_________________________________________________________________
dense_1 (Dense)              (10, 6)                   42
_________________________________________________________________
dense_2 (Dense)              (10, 6)                   42
_________________________________________________________________
dense_3 (Dense)              (10, 1)                   7
=================================================================
Total params: 163
Trainable params: 163
Non-trainable params: 0
_________________________________________________________________

In [36]:
y_pred = classifier.predict(X_test)
y_pred = (y_pred>0.5)

In [37]:
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score

In [38]:
cm = confusion_matrix(y_pred,y_test)
cm

array([[1525,  214],
       [  60,  201]], dtype=int64)

In [39]:
score = accuracy_score(y_pred,y_test)
score

0.863